NODE_ENVIROMMENT=development 
PORT=3000
#DATABASE=mongodb://enetwork:enetwork2020@103.145.62.153:27017/enetwork
DATABASE=mongodb://127.0.0.1:27017/enetwork

JWT_SECRET=enetwork_screte                  
JWT_EXPIRES_IN=30d

MQTT_BASE_URL=http://127.0.0.1:8080/api/v3
MQTT_USER=d7a21a320671a
MQTT_PASS=MjkyNjY0Njc4OTAxNzM5MzYyNjMwODQxNjQ1NTg0ODc1NTC